<a href="https://colab.research.google.com/github/ziwon-hwang/TIL/blob/main/Outlier_report1%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [200]:
import pandas as pd
import numpy as np
import random

In [201]:
a={'A':[55,185],'B':[58,183],'C':[88,186],'D':[60,175],'E':[46,155]}

In [202]:
DF=pd.DataFrame(a,index=['몸무게','키'])
DF=DF.T
DF['total']=0
DF

   몸무게    키  total
A   55  185      0
B   58  183      0
C   88  186      0
D   60  175      0
E   46  155      0

In [203]:
def df_comp(A,B):
  if DF.loc[A,'몸무게'] >DF.loc[B,'몸무게'] and DF.loc[A,'키']>DF.loc[B,'키']:
    result=A
  elif DF.loc[A,'몸무게'] <DF.loc[B,'몸무게'] and DF.loc[A,'키']<DF.loc[B,'키']:
    result=B
  else:
    result=0
  return result

In [204]:
for i in range(len(DF)): #01234
  for n in range(i+1,len(DF)): #1234
    b=df_comp(DF.index[i],DF.index[n])
    print(f'{DF.index[i]}와{DF.index[n]}의 비교결과는 = {b}')

A와B의 비교결과는 = 0
A와C의 비교결과는 = C
A와D의 비교결과는 = 0
A와E의 비교결과는 = A
B와C의 비교결과는 = C
B와D의 비교결과는 = 0
B와E의 비교결과는 = B
C와D의 비교결과는 = C
C와E의 비교결과는 = C
D와E의 비교결과는 = D

In [205]:
for i in range(len(DF)): #01234
  for n in range(i+1,len(DF)): #1234
    b=df_comp(DF.index[i],DF.index[n])
    if b in DF.index:
      DF.loc[b,'total']+=1
DF

   몸무게    키  total
A   55  185      1
B   58  183      1
C   88  186      4
D   60  175      1
E   46  155      0

In [206]:
DF['순위']=DF['total'].rank(method='dense',ascending=False)
DF['순위'] = DF['순위'].astype(int)
DF
#DF.sort_values(by='순위')

   몸무게    키  total  순위
A   55  185      1   2
B   58  183      1   2
C   88  186      4   1
D   60  175      1   2
E   46  155      0   3

# 입력

In [207]:
from string import ascii_uppercase
a={}
alpha_list = list(ascii_uppercase)
N=input()
people=alpha_list[0:int(N)]
for p in range(len(people)):
  for r in range(int(N)):
    weight=random.randint(10,200)
    height=random.randint(10,200)
    a[people[p]]=[weight,height]
  print(weight,'',height)
  
print(a)

5
17  62
50  175
52  164
32  45
38  87
{'A': [17, 62], 'B': [50, 175], 'C': [52, 164], 'D': [32, 45], 'E': [38, 87]}

In [208]:
DF=pd.DataFrame(a,index=['몸무게','키'])
DF=DF.T
DF['total']=0
DF

   몸무게    키  total
A   17   62      0
B   50  175      0
C   52  164      0
D   32   45      0
E   38   87      0

In [209]:
for i in range(len(DF)): #01234
  for n in range(i+1,len(DF)): #1234
    b=df_comp(DF.index[i],DF.index[n])
    if b in DF.index:
      DF.loc[b,'total']+=1
DF

   몸무게    키  total
A   17   62      0
B   50  175      3
C   52  164      3
D   32   45      0
E   38   87      2

In [210]:
DF['순위']=DF['total'].rank(method='dense',ascending=False)
DF['순위'] = DF['순위'].astype(int)
DF

   몸무게    키  total  순위
A   17   62      0   3
B   50  175      3   1
C   52  164      3   1
D   32   45      0   3
E   38   87      2   2

# 출력

In [211]:
for y in range(len(people)):
  print(DF.loc[DF.index[y],'순위'],'',end='')

3 1 1 3 2